// script.js
const video = document.getElementById('camera-stream');

async function setupCamera() {
    try {
        const stream = await navigator.mediaDevices.getUserMedia({
            video: { 
                width: { ideal: 1920 },
                height: { ideal: 1080 },
                facingMode: "user" // Menggunakan kamera depan
            },
            audio: false
        });
        video.srcObject = stream;
    } catch (error) {
        console.error("Akses kamera ditolak atau tidak tersedia:", error);
    }
}

setupCamera();
